<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Prajyuktam Coding Competition</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <!-- <header>
        <nav class="container">
            <a href="/" class="logo">Competitive Coding 2.1</a>
            <ul>
                <li><a href="/landing">Start</a></li>
            </ul>
        </nav>
    </header> -->

    <main class="container">
        <section class="hero">
            <h1>C0D1NG CLUB</h1>
            <h1>Presents</h1>
            <h1>C0MPET1T1VE C0D1NG 2.1</h1>
            <h1>@ Prajyuktam' 25</h1>
            <p>Sharpen your algorithms and outcode the competition</p>
            <p>Date: November 13, 2025</p>
            <p>Time Left to Register</p>
            
            <div class="registration-action">
                
                <div id="countdown-timer" class="timer">
                    <span>Loading...</span>
                </div>
                
                <a href="/registration" id="register-btn" class="btn btn-primary">Register Now</a>
                <a href="/auth" id="enter-btn" class="btn btn-primary" style="display: none;">Enter the War</a>
            </div>
        </section>
    </main>
<!-- 
    <footer>
        <p>&copy; 2025 Competitive Coding 2.1</p>
    </footer> -->

    <script src="/js/timer.js"></script>
</body>
</html>